# 忽略不需要的文件
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.git/
.gitignore
*.md
!docker/README.md
logs/
*.log
.DS_Store
test_*.jpg
fullscreen*.jpg
live-monitor-vps/
*.tar.gz

